@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}


:root{
    --bcolor: rgb(230, 236, 242);
    --pcolor: aliceblue;
    --tcolor: black;
}
.dark-mode{
    --bcolor: rgb(30, 30, 30);
    --pcolor: rgb(70, 70, 70);
    --tcolor: aliceblue;
}


body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--bcolor);
}
#js-control{
    color: red;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
main{
    font-size: 0.8em;
    margin: 5px auto;
    padding: 2em 1em;
    width: 95%;
    border-radius: 1rem;
    background-color: var(--pcolor);
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    color: aliceblue;
    font-weight: bolder;
    font-size: 1.3em;
}
.logo a{
    color: aliceblue;
    text-decoration: none;
}
.logo-icon{
    display: block;
    stroke: aliceblue;
    stroke-width: 3px;
    position: absolute;
    top: 12px;
    left: 20px;
}
header{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 100%;
    padding: 10px 10%;
    align-items: center;
    position: relative;
}
.menu{
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    padding: 0.5em;
}
.menu a{
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
}
.menu-option{
    margin: 0.5em;
    box-sizing: border-box;
    text-align: center;
}
.submenu{
    font-size: 0.7em;
    box-sizing: border-box;
    text-shadow: none;
    list-style: none;
}
.submenu>li{
    padding: 0.5em 0;
}
.submenu>li::before{
    color: aliceblue;
    content: "â•";
    margin-right: 0.2em;
}
.menu-option:hover, .submenu>li:hover{
    text-shadow: 0 -1px aliceblue;
}
.menu-option label{
    display: inline-block;
    padding: 5px;
    font-size: 0.7em;
    font-weight: bold;
    color: var(--tcolor);
    background-color: var(--pcolor);
    border-radius: 0.3em;
}
.menu-option label:hover{
    text-shadow: 0 -1px var(--tcolor);
}
footer{
    background-color: darkred;
    color: aliceblue;
    font-size: 0.8em;
    text-align: center;
    padding: 1em;
}
.gallery{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.gallery-item{
    display: flex;
    flex-direction: row;
    margin: 1em 0.5em;
}
.gallery-one{
    display: flex;
    flex-direction: column;
    margin: 1em 0.5em;
    align-items: center;
}
.gallery-item:nth-child(even){
    flex-direction: row-reverse;
}
.gallery-img{
    width: auto;
    height: auto;
}
.gallery-text{
    margin: 0 1em;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.gallery-text h1{
    font-weight: bold;
    text-transform: uppercase;
    color: red;
}
.gallery h3{
    text-transform: uppercase;
    color: red;
}
.gallery a{
    text-decoration: none;
}
.gallery-img:hover{
    transform: scale(1.3, 1.3);
}

#progressbar{
    width: 30em;
    margin: 0 auto;
}
.ui-widget-header{
    background: red !important;
}
fieldset{
    display: flex;
    flex-direction: column;
    border-color: red;
    width: 30em;
    margin: 2em auto;
    padding: 1em;
}
legend{
    color: red;
    font-size: 2em;
    font-weight: bold;
}
label{
    font-size: 1.5em;
}
input[type=text], input[type=email], input[type=password], select{
    margin: 0 2em;
    padding: 0 0.5em;
    height: 1.5em;
    border: 2px solid red;
    border-radius: 0.5em;
    font-size: 1.2em;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder{
    color: lightcoral;
}
input[type=radio], input[type=checkbox], input[type=range]{
    accent-color: red;
}
input[type=range]{
    margin: 0 2em;
}
.buttons{
    width: 30em;
    margin: 0 auto;
}
button{
    width: 7em;
    height: 3em;
    border-radius: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid red;
}
button:hover{
    box-shadow: 2px 2px 5px lightcoral;
}
button[type=submit]{
    color: white;
    background-color: red;
    margin-right: 1em;
}
button[type=reset]{
    color: red;
    background-color: aliceblue;
}
.prev-next{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.prev-next a{
    color: aliceblue;
    background-color: red;
    padding: 0.5em;
    display: block;
    border: 2px solid red;
    border-radius: 0.5em;
    text-decoration: none;
}




@media (max-width: 650px){
    .closed-menu{
        display: none !important;
    }
    .dance{
        display: none !important;
    }
}
@media (min-width: 651px) {
    main{
        width: 60%;
        font-size: 1.1em;
    }
    header{
        flex-direction: row;
        justify-content: space-between;
        height: 4em;
    }
    .logo-icon{
        display: none;
    }
    .menu{
        flex-direction: row;
        font-size: 1em;
        max-height: 100%;
    }
    .menu-option{
        position: relative;
        width: 8em;
    }
    .submenu{
        position: absolute;
        display: none;
        padding: 1em;
        border-radius: 0.5em;
        background-color: red;
        width: 8em;
        list-style: none;
        font-size: 1em;
    }
    .submenu>li{
        padding: 0;
    }
    .submenu>li::before{
        content: none;
    }
    .menu-option:hover .submenu{
        display: flex;
        flex-direction: column;
    }
    .pikachu{
        display: unset;
        height: 10em;
    }
    h2{
        font-size: 2em;
    }
    section{
        flex-direction: row;
        padding: 1em;
        margin-bottom: 1.5em;
    }
    footer{
    font-size: 1em;
    }
    .gallery{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .gallery-one{
        display: flex;
        flex-direction: column;
        margin: 1em 0.5em;
        align-items: center;
    }
    .gallery-item{
        flex-direction: column;
        align-items: center;
        margin: 1em auto;
    }
    .gallery-item:nth-child(even){
        flex-direction: column;
    }
    .gallery-text p{
        display: none;
    }
    .gallery-text{
        font-size: 0.7em;
    }
    .gallery-img{
        width: 7em;
        height: auto;
    }
    .gallery-img:hover{
        transform: scale(1, 1);
    }
    .gallery-item:hover{
        transform: scale(1.3, 1.3);
    }
    .about{
        flex-direction: row;
        text-align: justify;
    }
    .jajko{
        display: flex;
        justify-content: center;
    }
    .dance{
        width: auto;
        height: auto;
        font-size: 1em;
        padding: 5px;
        color: aliceblue;
        background-color: rgb(225, 225, 0);
        border-color:  yellow;
    }
}

#blad{
    color: red;
    text-align: center;
}
